<section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="{{ 'assets/img/products/women-large.jpg'|theme }}">
<!--                         <h2>Women’s</h2> -->
<!--                         <a href="#">Discover More</a> -->
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control" id="filterGallery">
                        <ul>
                        {% if categories|length %}
                            {% for category in categories %}
                            <li data-href="{{category.slug}}">{{category.name}}</li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                    {% if categories|length %}
                        {% for key, category in filter_products %}
                            <div class="product-slider owl-carousel {{key>0?'d-none':''}}" id="{{category.slug}}">
                                {% for product in category.product %}
                                    <div class="product-item">
                                        <div class="pi-pic">
                                            <img src="{{ product.image }}" alt="">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
