<div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{{ 'assets/img/logo-carousel/logo-1.png'|theme }}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{{ 'assets/img/logo-carousel/logo-2.png'|theme }}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{{ 'assets/img/logo-carousel/logo-3.png'|theme }}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{{ 'assets/img/logo-carousel/logo-4.png'|theme }}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{{ 'assets/img/logo-carousel/logo-5.png'|theme }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
